<a href="https://colab.research.google.com/github/RyzhovDmt/PySpark_projects/blob/main/Simple_ETL_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 33 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 53.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=ea7520d752e43ab8f1899f5a9ccce0ead180ed1be489a912bbb590bc16714e89
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
from google.colab import files
from pyspark.sql import SparkSession, DataFrame
import pyspark.sql.functions as F
import pyspark.sql.types as t

In [ ]:
files.upload()

In [ ]:
spark = SparkSession.builder.appName("ETL").getOrCreate()

In [ ]:
spark

In [ ]:
df = spark.read.format("csv").option("header", "true").load("cars.csv")

In [ ]:
df.printSchema()

root
 |-- manufacturer_name: string (nullable = true)
 |-- model_name: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- color: string (nullable = true)
 |-- odometer_value: string (nullable = true)
 |-- year_produced: string (nullable = true)
 |-- engine_fuel: string (nullable = true)
 |-- engine_has_gas: string (nullable = true)
 |-- engine_type: string (nullable = true)
 |-- engine_capacity: string (nullable = true)
 |-- body_type: string (nullable = true)
 |-- has_warranty: string (nullable = true)
 |-- state: string (nullable = true)
 |-- drivetrain: string (nullable = true)
 |-- price_usd: string (nullable = true)
 |-- is_exchangeable: string (nullable = true)
 |-- location_region: string (nullable = true)
 |-- number_of_photos: string (nullable = true)
 |-- up_counter: string (nullable = true)
 |-- feature_0: string (nullable = true)
 |-- feature_1: string (nullable = true)
 |-- feature_2: string (nullable = true)
 |-- feature_3: string (nullable = true)
 |-- feature_4: string (nullable = true)
 |-- feature_5: string (nullable = true)
 |-- feature_6: string (nullable = true)
 |-- feature_7: string (nullable = true)
 |-- feature_8: string (nullable = true)
 |-- feature_9: string (nullable = true)
 |-- duration_listed: string (nullable = true)

In [ ]:
df.show()

+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|manufacturer_name|model_name|transmission| color|odometer_value|year_produced|engine_fuel|engine_has_gas|engine_type|engine_capacity|body_type|has_warranty|state|drivetrain|price_usd|is_exchangeable|location_region|number_of_photos|up_counter|feature_0|feature_1|feature_2|feature_3|feature_4|feature_5|feature_6|feature_7|feature_8|feature_9|duration_listed|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
|           Subaru|   Outback|   automatic|silver|        190000|         2010|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  10900.0|          False|   Минская обл.|               9|        13|    False|     True|     True|     True|    False|     True|    False|     True|     True|     True|             16|
|           Subaru|   Outback|   automatic|  blue|        290000|         2002|   gasoline|         False|   gasoline|            3.0|universal|       False|owned|       all|   5000.0|           True|   Минская обл.|              12|        54|    False|     True|    False|    False|     True|     True|    False|    False|    False|     True|             83|
|           Subaru|  Forester|   automatic|   red|        402000|         2001|   gasoline|         False|   gasoline|            2.5|      suv|       False|owned|       all|   2800.0|           True|   Минская обл.|               4|        72|    False|     True|    False|    False|    False|    False|    False|    False|     True|     True|            151|
|           Subaru|   Impreza|  mechanical|  blue|         10000|         1999|   gasoline|         False|   gasoline|            3.0|    sedan|       False|owned|       all|   9999.0|           True|   Минская обл.|               9|        42|     True|    False|    False|    False|    False|    False|    False|    False|    False|    False|             86|
|           Subaru|    Legacy|   automatic| black|        280000|         2001|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  2134.11|           True|Гомельская обл.|              14|         7|    False|     True|    False|     True|     True|    False|    False|    False|    False|     True|              7|
|           Subaru|   Outback|   automatic|silver|        132449|         2011|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  14700.0|           True|   Минская обл.|              20|        56|    False|     True|    False|    False|    False|     True|    False|     True|     True|     True|             67|
|           Subaru|  Forester|   automatic| black|        318280|         1998|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|   3000.0|           True|   Минская обл.|               8|       147|    False|     True|    False|    False|     True|     True|    False|    False|     True|     True|            307|
|           Subaru|    Legacy|   automatic|silver|        350000|         2004|   gasoline|         False|   gasoline|            2.5|    sedan|       False|owned|       all|   4500.0|          False| Брестская обл.|               7|        29|    False|     True|     True|    False|    False|    False|    False|    False|    False|     True|             73|
|           Subaru|   Outback|   automatic|  grey|        179000|         2010|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|  12900.0|          False|   Минская обл.|              17|        33|    False|     True|     True|     True|     True|     True|     True|     True|     True|     True|             87|
|           Subaru|  Forester|   automatic|silver|        571317|         1999|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|   4200.0|           True|   Минская обл.|               8|        11|    False|     True|     True|    False|    False|     True|    False|    False|    False|     True|             43|
|           Subaru|  Forester|  mechanical| other|        280000|         2003|   gasoline|         False|   gasoline|            2.0|      suv|       False|owned|       all|   6900.0|           True|   Минская обл.|              14|         6|    False|     True|    False|     True|    False|     True|    False|     True|     True|     True|             11|
|           Subaru|   Tribeca|   automatic|  grey|        256000|         2008|   gasoline|         False|   gasoline|            3.6|      suv|       False|owned|       all|   8350.0|           True|   Минская обл.|              18|        61|    False|     True|     True|     True|     True|     True|    False|    False|     True|     True|             80|
|           Subaru|  Forester|  mechanical| other|        321000|         2002|   gasoline|         False|   gasoline|            2.0|      suv|       False|owned|       all|   4300.0|          False|   Минская обл.|              13|         2|    False|     True|    False|    False|    False|    False|    False|    False|    False|    False|              2|
|           Subaru|     Justy|  mechanical|   red|         49999|         2001|   gasoline|         False|   gasoline|            1.3|hatchback|       False|owned|       all|   1666.0|          False|Гомельская обл.|               8|        94|     True|    False|    False|    False|    False|    False|    False|    False|    False|    False|            230|
|           Subaru|   Outback|   automatic| brown|        154685|         2011|   gasoline|         False|   gasoline|            2.5|universal|       False|owned|       all|   8600.0|           True|   Минская обл.|              24|        34|    False|     True|    False|     True|    False|    False|    False|    False|     True|     True|             63|
|           Subaru|   Outback|   automatic| black|        163219|         2004|   gasoline|         False|   gasoline|            2.0|universal|       False|owned|       all|   7300.0|           True|   Минская обл.|              17|        22|    False|     True|     True|    False|     True|     True|    False|    False|    False|     True|             35|
|           Subaru|   Outback|   automatic| other|        318650|         2005|   gasoline|         False|   gasoline|            3.0|universal|       False|owned|       all|  7587.97|           True|   Минская обл.|               7|       166|    False|     True|    False|     True|     True|     True|    False|    False|     True|     True|            468|
|           Subaru|   Impreza|  mechanical|  blue|        191000|         2005|   gasoline|         False|   gasoline|            2.0|    sedan|       False|owned|       all|  10950.0|          False|   Минская обл.|              12|         7|    False|     True|    False|    False|    False|    False|    False|    False|    False|     True|             21|
|           Subaru|  Forester|   automatic|silver|        179000|         2014|   gasoline|         False|   gasoline|            2.0|      suv|       False|owned|       all|  12700.0|          False|   Минская обл.|              14|        14|    False|    False|     True|     True|    False|     True|     True|     True|     True|     True|             16|
|           Subaru|  Forester|   automatic| black|        159000|         2013|   gasoline|         False|   gasoline|            2.0|      suv|       False|owned|       all|  16500.0|          False|   Минская обл.|               6|        34|    False|     True|     True|    False|     True|     True|    False|     True|     True|     True|             59|
+-----------------+----------+------------+------+--------------+-------------+-----------+--------------+-----------+---------------+---------+------------+-----+----------+---------+---------------+---------------+----------------+----------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------+---------------+
only showing top 20 rows

In [ ]:
df.select("manufacturer_name", "model_name").filter(F.col("manufacturer_name") == 'Audi').distinct().show()

+-----------------+----------+
|manufacturer_name|model_name|
+-----------------+----------+
|             Audi|        S4|
|             Audi|       100|
|             Audi|        Q5|
|             Audi|        A8|
|             Audi|        Q7|
|             Audi|        Q3|
|             Audi|        S5|
|             Audi|        A2|
|             Audi|       RS6|
|             Audi|        A1|
|             Audi|        A7|
|             Audi|        V8|
|             Audi|        TT|
|             Audi|     Coupe|
|             Audi|        A5|
|             Audi|        A3|
|             Audi|        S8|
|             Audi|        A6|
|             Audi|A6 Allroad|
|             Audi|        80|
+-----------------+----------+
only showing top 20 rows

In [ ]:
def extract(spark: SparkSession, path: str) -> DataFrame:
    return spark.read.option("header", "true").csv(path)

In [ ]:
# Инфо по каждому производителю:
# число объявл
# средний год
# min/max цену
def transform(df: DataFrame) -> DataFrame:
    output = (
        df
        #.filter(F.col("manufacturer_name") == 'Audi')
        .groupBy("manufacturer_name")
        .agg(
            F.count("manufacturer_name").alias("count_ads"),
            F.round(F.avg("year_produced")).cast(t.IntegerType()).alias("avg_year_produced"),
            F.min(F.col("price_usd").cast(t.FloatType())).alias("min_price"),
            F.max(F.col("price_usd").cast(t.FloatType())).alias("max_price"),
        )
        .orderBy(F.col("count_ads").desc())
    )
    return output

In [ ]:
def save(df: DataFrame) -> None:
    #df.write.mode("overwrite").format("json").save("result.json")
    df.coalesce(2).write.mode("overwrite").format("json").save("result")

In [ ]:
def pipeline():
    spark = SparkSession.builder.appName("ETL").getOrCreate()
    df = extract(spark, "cars.csv")
    output = transform(df)
    save(output)
    output.show()

pipeline()

+-----------------+---------+-----------------+---------+---------+
|manufacturer_name|count_ads|avg_year_produced|min_price|max_price|
+-----------------+---------+-----------------+---------+---------+
|       Volkswagen|     4243|             2002|      1.0|  43999.0|
|             Opel|     2759|             2002|    150.0|  22900.0|
|              BMW|     2610|             2003|     9.49|  50000.0|
|             Ford|     2566|             2002|    110.0|  41000.0|
|          Renault|     2493|             2003|     10.0| 30304.47|
|             Audi|     2468|             2000|    130.0|  46750.0|
|    Mercedes-Benz|     2237|             2002|     1.42|  49999.0|
|          Peugeot|     1909|             2003|      1.0|  20450.0|
|          Citroen|     1562|             2003|    100.0|  19500.0|
|           Nissan|     1361|             2004|    150.0|  39000.0|
|            Mazda|     1328|             2002|      1.0|  39500.0|
|           Toyota|     1246|             2006|    250.0|  45999.0|
|          Hyundai|     1116|             2007|    200.0| 45954.66|
|            Skoda|     1089|             2013|    300.0| 44947.83|
|              Kia|      912|             2008|    200.0|  44700.0|
|       Mitsubishi|      887|             2002|    150.0|  31400.0|
|             Fiat|      824|             2000|      1.0| 34118.23|
|            Honda|      797|             2004|    100.0|  42000.0|
|            Volvo|      721|             2004|    155.0|  48200.0|
|              ВАЗ|      481|             1994|      1.0|  12804.7|
+-----------------+---------+-----------------+---------+---------+
only showing top 20 rows